<p><%= image_tag("new_profile.jpg", height: "150", class: "profile") %></p>

<p>
  <div class="social-icon"><a href="https://github.com/tchiao" class="social-icon github" target="_blank"></a></div>

  <div class="social-icon"><a href="https://www.linkedin.com/in/tiffanychiao" target="_blank" class="social-icon linkedin"></a></div>
</p>

<div class="about-me">
  <p>
    Hi there! I'm Tiffany Chiao. I'm a Ruby on Rails and JavaScript developer.
  </p>
  <p>
    I'm currently looking for a full-time position around San Francisco and the peninsula. Contact me at <span id="secret"></span>.
  </p>
</div>

<script>
var parts = ["hello", "tiff", "any", "chiao", "com", "mailto", ":", 64, "."];
document.getElementById("secret").innerHTML = "<a href='" + parts[5] + parts[6] + parts[0] + String.fromCharCode(parts[7]) + parts[1] + parts[2] + parts[3] + parts[8] + parts[4] + "'>" + parts[0] + String.fromCharCode(parts[7]) + parts[1] + parts[2] + parts[3] + parts[8] + parts[4] + "</a>";
</script>

<%= javascript_include_tag "sidebar" %>