<div class="project-img treeline">
  <a href="https://tree-line.herokuapp.com" target="_blank"><div class="overlay"></div></a>
    <div class="project-text">A web app that allows you to easily create a timeline from articles you read online. Simply paste the URL of any news story or Wikipedia article, and Treeline will extract the title, a summary, date, and relevant tags.
    </div>
</div>

<div class="project-img tickitoff">
  <a href="https://tickitoff.herokuapp.com" target="_blank"><div class="overlay"></div></a>
    <div class="project-text">A self-destructing to-do list.</div>
</div>

<div class="project-img textopedia">
  <a href="https://textopedia.herokuapp.com" target="_blank"><div class="overlay"></div></a>
    <div class="project-text">A Wikipedia clone with Stripe integration.</div>
</div>

<div class="project-img tiffit">
  <a href="https://tiff-it.herokuapp.com" target="_blank"><div class="overlay"></div></a>
    <div class="project-text">A Reddit clone.</div>
</div>

